html body {
    font-family: 'Roboto', sans-serif;
}

h1 {    
    font-size: 30px;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    font-weight: 900;
    color:#444444
}

h3 {
    font-size: 15px;
    font-weight: 700;
}

.promo {
    background-color:#A5A5A5;
    padding: 15px 0;      
}

.promo .promo_photo {
    width: 200px;
    height: 200px;
    border-radius:100%;
    background:url(../img/promo.jpeg) center center/cover no-repeat;
}

.promo .promo_desc {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #FFDC33;
}

.promo .promo_adress {
    font-weight: 500;
    color:#444444;
}

.content {
    background-color: rgb(100%, 86%, 20%, 0.6);
    padding: 10px;
}

.content .content_cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
}

.content .content_cards .content_card {
    width: 200px;
    min-height: 200px;
    background-color:#fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
}

.content .content_filter {
    width: 100%;
    min-height: 50px;
    background-image:  linear-gradient(90deg, rgba(165,165,165,1) 0%, rgba(255,220,51,1) 68%, rgba(255,220,51,1) 100%);
    border-radius: 8px;
    padding: 15px 25px;
}

ul.filter_menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    vertical-align: center;
    margin: 0;
    padding: 0;
}

ul.filter_menu .filter_item .filter_search .search_box {
    border: 2px, solid, #444444,;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}